.container_detail {
  padding: 16px;
}
.description_price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 26px;
}

.description_info {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}

.container_detail_image img {
  width: 100%;
  border: 2px black solid;
  border-radius: 18px;
}

.MuiContainer-root.MuiContainer-maxWidthLg.css-1oqqzyl-MuiContainer-root {
  display: grid;
}
