ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  display: inline-block;
  margin: 10px;
}
.cart_item_img {
  width: 65px;
  height: auto;
}

.cart_item_img img {
  width: 100%;
}

.cart_item_title {
  margin: 10px;
}
.cart_item_price {
  margin: 5px;
}

.cart_title {
  text-align: center;
  margin: 5px;
}

.cart_empty {
  text-align: center;
  margin: 18px;
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
  font-size: larger;
  padding: 10px;
  border-radius: 50%;
}

.container_itemCart {
  display: inline-grid;
  justify-items: center;
}

.cart_item {
  width: 100%;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.btn-custom.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: black;
}
