.product-item {
  border: 1px black solid;
  width: 31%;
  height: 363px;
  margin: 20px 0 0 20px;
  text-align: center;
  float: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.product-item_img img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  overflow: hidden;
}

.product-item {
  color: black;
}

.item-button {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
}
