.navbar {
  width: 98%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  padding: 10px 15px;
  box-shadow: 1px 5px 20px grey;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 224, 196);
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
}

.logo-header {
  width: 100px;
}

.logo-header img {
  width: 100%;
}
